#knop {
    width: 10rem;
    height: 10rem;
    transition: .8s;
    margin: 5px;
    border: none;
    background-color: #076D71;
    font-size: 8rem;
    color: #67AF92;
}

#knop:hover {
    transform: scale(110%);
    position: relative;
    cursor: pointer;
}

.aap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*, body {
    margin: 0;
}

body {
    background-color: #E1D1A6;

}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}